*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#0b0b0b;
    color:#fff;
}

nav{
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:#111;
    box-shadow:0 0 20px rgba(255,0,0,0.2);
    z-index:1000;
}

.logo{
    color:#ff0000;
    font-weight:bold;
    font-size:22px;
}

.nav-links a{
    position:relative;
    color:#ccc;
    text-decoration:none;
    margin-left:30px;
    transition:0.4s;
}

.nav-links a span{
    position:absolute;
    bottom:-6px;
    left:0;
    width:0%;
    height:2px;
    background:#ff0000;
    transition:0.4s;
    box-shadow:0 0 10px #ff0000, 0 0 25px #ff0000;
}

.nav-links a:hover,
.nav-links a.active{
    color:#ff0000;
    text-shadow:0 0 10px #ff0000, 0 0 25px #ff0000;
}

.nav-links a:hover span,
.nav-links a.active span{
    width:100%;
}

.section{
    padding:120px 60px;
    min-height:100vh;
}

.hero{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.hero span{
    color:#ff0000;
    text-shadow:0 0 10px #ff0000;
}

button{
    margin-top:20px;
    padding:10px 25px;
    border:none;
    background:#ff0000;
    color:#fff;
    cursor:pointer;
    box-shadow:0 0 10px #ff0000, 0 0 30px #ff0000;
}

.skills-box{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.skills-box div{
    padding:10px 20px;
    background:#111;
    box-shadow:0 0 10px #ff0000;
}

.projects{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.card{
    flex:1;
    padding:30px;
    background:#111;
    text-align:center;
    box-shadow:0 0 10px #ff0000;
}
