
 @import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
*,*::before,*::after {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
} 

body {
    font-family: "Sansita", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(227, 219, 209); 
}

.empty-img {
    width: 10rem;
    height: 100px;
    margin-right: 90px;
   position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    padding: 0px 20px;
    border-radius: 10px;
    width: 100%;
    height:100%;
    transition: all 0.4s ease; 
}


.To-do {
    width: 100%;
    max-width: 400px;
    display: flex;
    padding:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
    color:black;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border:2.3px solid rgba(255,255,255,0.7);
}

.To-do h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

input {
     transition: all 0.35s ease;
}

.stats {
    padding:15px 20px;
    border-radius: 10px;
    border:2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    width:100%;
}

.details {
    width:100%;
}

.details h3 {
    color:crimson;
}

.progress {
    width:100%;
    height:8px;
    background:red;
    border-radius:20px;
    position:relative;
    margin-top: 10px;
}


#progress {
    width: 50%;
    height:100%;
    background: green;
    border-radius:10px;
    transition:width 0.3 ease;
}

#numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #00eeff;
    border:2px solid rgba(255,194,209, 0.3);
    font-weight:bold;
    border-radius: 50%;
    font-size: 1.5rem;
}

.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:10px;
}

.input-area input {
    flex:1;
    padding:10px 17px;
    font-size: 0.85rem;
    border:none;
    outline:none;
    border-radius:10px;
    background-color: rgb(255, 255, 255);
}

.input-area input::placeholder{
    color:black
}

.input-area button {
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    padding:10px 15px;
    font-size: 0.85rem;
    border:none;
    outline:none;
    border-radius:10px;
    background-color: #333;
    color:white;
    cursor:pointer;
    transition: all 0.35s ease;
}

.input-area button:hover {
    background-color: green;
    transform: scale(1.1);
    color:snow;
}

.To-do-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tasks {
    width:100%;
} 

#tasks li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 194, 209, 0.5);
    transition: box-shadow 0.3s ease;
    position:relative;
    padding: 9px 11px;
    margin-bottom: 10px;
    border-radius: 100px;
    font-size: 1.15rem;
}

#tasks li:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    background-color: beige;
    
}

#tasks li .checkbox {
    min-width: 20px;
    height:20px;
    border: 1px solid rgb(1, 1, 1);
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor:pointer;
}

#tasks li span {
    flex:1;
    margin-left: 10px;
    word-wrap: break-word;
}

#tasks li.checkbox:checked {
    background-color: green;
    transform:scale(1.15rem);
}

.checkbox:checked::before {
    content:'\2713';
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#taks li span {
    flex:1;
    margin-left: 10px;
    word-wrap: break-word;
}

.task-buttons {
    display: flex;
    gap:10px;
    margin-right: auto;
}

.task-buttons button {
    border:none;
    outline:none;
    width:30px;
    height:30px;
    background-color: transparent;
    cursor:pointer;
    font-size: 1rem;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;;
}


.task-buttons .edit-btn {
    background-color: yellow;
    border-radius: 50%;
}

.task-buttons .delete-btn {
    background-color: rgb(202, 76, 76);
    border-radius: 50%;

}

@media (max-width: 500px) {
    .container {
        margin: 0 20px;
        padding: 0 10px;
    }
    .To-do {
        padding: 1.5rem;
        gap:20px;
    }

    #numbers {
        width: 60px;
        height: 60px;
        font-size: 1.2rem;
    }

    .input-area input {
        font-size: 0.75rem;
    }

    #task li {
        font-size: 1rem;
    }
}





